nav{
    background: linear-gradient(to right, #950b0b, purple);
    color: white;
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        ul{
            list-style: none;
            display: flex;
            // justify-content: space-between ;
            gap: 40px;
            width: 20%;
            margin: 0;
            li {
                cursor: pointer;
                font-size: 22px;
                color: white;
                text-decoration: none;
            }
        }
    }
}